#brochure {
    display: flex;
    height: 300px;
}

#brochure > div {
    width: 33%; 
    text-align: center;
}

.col1 {
    border-right: 8px solid;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
}

.col2 {
    border-right: 8px solid;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
}

.col3 { 
    border-right: 8px solid;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
}

